DATABASE_URL=
DATABASE_SSL=false
AUTH_SECRET=
APP_URL=http://localhost:3000
APP_CURRENT_USER_ID=
APP_CURRENT_USER_EMAIL=
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_LEAGUE_ID=
API_FOOTBALL_SEASON=
API_FOOTBALL_TIMEZONE=America/Sao_Paulo
INTERNAL_CRON_SECRET=
